# будем описывать сокет гуникорна
[Unit]
Description=gunicorn socket

# определяем расположение сокета
[Socket]
ListenStream=127.0.0.1:8000
# ListenStream=/run/gunicorn.sock

# нужно для установки сокета в нужное время
[Install]
WantedBy=sockets.target