# Здесь мы говорим что будем описывать сокет
[Unit]
Description=gunicorn socket

# Socket определяет расположение сокета
[Socket]
ListenStream=0.0.0.0:8000
# ListenStream=/run/gunicorn.sock

# нужно для установки сокета в нужное время
[Install]
WantedBy=sockets.target