# Здесь мы говорим что будем описывать сокет
[Unit]
Description=gunicorn socket

# Socket определяет расположение сокета
[Socket]
ListenStream=/etc/systemd/system/gunicorn.sock
# ListenStream=/run/gunicorn.sock

# нужно для установки сокета в нужное время
[Install]
WantedBy=sockets.target